flow.json
[{"id":"66256959.d09538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23cfbebd.656d42","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d6bacd08.9b886","type":"ui_group","z":"","name":"Default","tab":"23cfbebd.656d42","order":1,"disp":true,"width":16,"collapse":false},{"id":"970fe5a.79db218","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Lidar","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a80342ef.3c801","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"Hola mundo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["e24c5043.dccf5"]]},{"id":"e24c5043.dccf5","type":"debug","z":"66256959.d09538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":120,"wires":[]},{"id":"5641a819.bca818","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"Adios mundo cruel","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["e24c5043.dccf5"]]},{"id":"2efd0aad.1326c6","type":"comment","z":"66256959.d09538","name":"Salida","info":"","x":450,"y":80,"wires":[]},{"id":"e4fe77a8.224778","type":"debug","z":"66256959.d09538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":300,"wires":[]},{"id":"6c27d32b.0868ac","type":"random","z":"66256959.d09538","name":"distancia","low":"0","high":"100","inte":"true","property":"payload","x":320,"y":300,"wires":[["e4fe77a8.224778","65f3b217.65585c","cc223a5f.48fb68","20bb7ce0.cefbe4"]]},{"id":"7400c59f.10e34c","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"5","x":150,"y":300,"wires":[["6c27d32b.0868ac"]]},{"id":"65f3b217.65585c","type":"ui_gauge","z":"66256959.d09538","name":"","group":"d6bacd08.9b886","order":2,"width":7,"height":5,"gtype":"gage","title":"Indicador","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":360,"wires":[]},{"id":"cc223a5f.48fb68","type":"ui_chart","z":"66256959.d09538","name":"","group":"d6bacd08.9b886","order":3,"width":9,"height":5,"label":"Grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":420,"wires":[[]]},{"id":"3398cebd.b3b732","type":"ui_chart","z":"66256959.d09538","name":"","group":"d6bacd08.9b886","order":1,"width":0,"height":0,"label":"Lidar","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":620,"wires":[[]]},{"id":"be2dada6.ea368","type":"inject","z":"66256959.d09538","name":"","topic":"0","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[["20bb7ce0.cefbe4"]]},{"id":"790fe8a.c70e418","type":"inject","z":"66256959.d09538","name":"","topic":"90","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":600,"wires":[["20bb7ce0.cefbe4"]]},{"id":"176cd631.234eea","type":"inject","z":"66256959.d09538","name":"","topic":"180","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":660,"wires":[["20bb7ce0.cefbe4"]]},{"id":"eb96e877.b21b18","type":"inject","z":"66256959.d09538","name":"","topic":"270","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[["20bb7ce0.cefbe4"]]},{"id":"20bb7ce0.cefbe4","type":"random","z":"66256959.d09538","name":"Dirección","low":"0","high":"359","inte":"true","property":"topic","x":360,"y":620,"wires":[["3398cebd.b3b732"]]}]