flow.json
[{"id":"66256959.d09538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a80342ef.3c801","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"Hola mundo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["e24c5043.dccf5"]]},{"id":"e24c5043.dccf5","type":"debug","z":"66256959.d09538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":120,"wires":[]},{"id":"5641a819.bca818","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"Adios mundo cruel","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["e24c5043.dccf5"]]}]