flow.json
[{"id":"66256959.d09538","type":"tab","label":"inject","disabled":false,"info":""},{"id":"131f0c1.a0da4f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ed9f9ed.a1e8d8","type":"tab","label":"Funcion","disabled":false,"info":""},{"id":"b8be0ac.f4ab9f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"23cfbebd.656d42","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d6bacd08.9b886","type":"ui_group","z":"","name":"Default","tab":"23cfbebd.656d42","order":1,"disp":true,"width":16,"collapse":false},{"id":"970fe5a.79db218","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Lidar","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"904dff47.52406","type":"ngrokauth","z":""},{"id":"a80342ef.3c801","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"Hola mundo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["e24c5043.dccf5"]]},{"id":"e24c5043.dccf5","type":"debug","z":"66256959.d09538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":120,"wires":[]},{"id":"5641a819.bca818","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"Adios mundo cruel","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["e24c5043.dccf5"]]},{"id":"2efd0aad.1326c6","type":"comment","z":"66256959.d09538","name":"Salida","info":"","x":450,"y":80,"wires":[]},{"id":"e4fe77a8.224778","type":"debug","z":"66256959.d09538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":300,"wires":[]},{"id":"6c27d32b.0868ac","type":"random","z":"66256959.d09538","name":"distancia","low":"0","high":"100","inte":"true","property":"payload","x":320,"y":300,"wires":[["e4fe77a8.224778","65f3b217.65585c","cc223a5f.48fb68"]]},{"id":"7400c59f.10e34c","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"5","x":150,"y":300,"wires":[["6c27d32b.0868ac"]]},{"id":"65f3b217.65585c","type":"ui_gauge","z":"66256959.d09538","name":"","group":"d6bacd08.9b886","order":2,"width":7,"height":5,"gtype":"gage","title":"Indicador","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":360,"wires":[]},{"id":"cc223a5f.48fb68","type":"ui_chart","z":"66256959.d09538","name":"","group":"d6bacd08.9b886","order":3,"width":9,"height":5,"label":"Grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":420,"wires":[[]]},{"id":"be2dada6.ea368","type":"inject","z":"66256959.d09538","name":"","topic":"0","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[["20bb7ce0.cefbe4"]]},{"id":"790fe8a.c70e418","type":"inject","z":"66256959.d09538","name":"","topic":"90","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":600,"wires":[["20bb7ce0.cefbe4"]]},{"id":"176cd631.234eea","type":"inject","z":"66256959.d09538","name":"","topic":"180","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":660,"wires":[["20bb7ce0.cefbe4"]]},{"id":"eb96e877.b21b18","type":"inject","z":"66256959.d09538","name":"","topic":"270","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[["20bb7ce0.cefbe4"]]},{"id":"20bb7ce0.cefbe4","type":"random","z":"66256959.d09538","name":"Dirección","low":"0","high":"359","inte":"true","property":"topic","x":360,"y":620,"wires":[[]]},{"id":"45856be5.1597a4","type":"ngrok","z":"131f0c1.a0da4f4","port":"1880","creds":"904dff47.52406","region":"us","proto":"http","subdomain":"","name":"","auth":"","x":360,"y":200,"wires":[["b71d2423.b8fc88"]]},{"id":"e3201077.8a5bf","type":"inject","z":"131f0c1.a0da4f4","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["45856be5.1597a4"]]},{"id":"b71d2423.b8fc88","type":"debug","z":"131f0c1.a0da4f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":200,"wires":[]},{"id":"11f0e111.f727af","type":"inject","z":"131f0c1.a0da4f4","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["45856be5.1597a4"]]},{"id":"8566bef1.03d55","type":"ui_chart","z":"66256959.d09538","name":"","group":"d6bacd08.9b886","order":2,"width":0,"height":0,"label":"chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":840,"wires":[[]]},{"id":"24978bfa.24c1c4","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":800,"wires":[["8566bef1.03d55"]]},{"id":"bcdd62fe.9a03e","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":840,"wires":[["8566bef1.03d55"]]},{"id":"6dd0136.44983ec","type":"inject","z":"66256959.d09538","name":"","topic":"","payload":"359","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":880,"wires":[["8566bef1.03d55"]]},{"id":"7fde7539.b4ea3c","type":"inject","z":"66256959.d09538","name":"","topic":"Abajo","payload":"359","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1060,"wires":[["8566bef1.03d55"]]},{"id":"5df54072.1f1c2","type":"inject","z":"66256959.d09538","name":"","topic":"Abajo","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1020,"wires":[["8566bef1.03d55"]]},{"id":"20b2b206.1279de","type":"inject","z":"66256959.d09538","name":"","topic":"Abajo","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":980,"wires":[["8566bef1.03d55"]]},{"id":"b289cbff.d7bf78","type":"inject","z":"66256959.d09538","name":"","topic":"2","payload":"359","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1220,"wires":[["8566bef1.03d55"]]},{"id":"839c7fdb.008d7","type":"inject","z":"66256959.d09538","name":"","topic":"2","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1180,"wires":[["8566bef1.03d55"]]},{"id":"408630e3.e6b2a","type":"inject","z":"66256959.d09538","name":"","topic":"2","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1140,"wires":[["8566bef1.03d55"]]},{"id":"74fb11.a3d4a4f","type":"inject","z":"4ed9f9ed.a1e8d8","name":"","topic":"","payload":"Hola","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["72b99b4e.c5c424"]]},{"id":"72b99b4e.c5c424","type":"switch","z":"4ed9f9ed.a1e8d8","name":"¿dice \"Hola\"?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hola","vt":"str"},{"t":"eq","v":"Adios","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":440,"y":160,"wires":[["dd09795f.ab3778"],["858f0153.2352c"],["7a9df0d2.ae04d"]]},{"id":"dd09795f.ab3778","type":"debug","z":"4ed9f9ed.a1e8d8","name":"salida 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":60,"wires":[]},{"id":"a7639bef.144b88","type":"inject","z":"4ed9f9ed.a1e8d8","name":"","topic":"","payload":"Adios","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["72b99b4e.c5c424"]]},{"id":"858f0153.2352c","type":"debug","z":"4ed9f9ed.a1e8d8","name":"salida 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":160,"wires":[]},{"id":"237e3d14.8eb1b2","type":"inject","z":"4ed9f9ed.a1e8d8","name":"","topic":"","payload":"Adios mundo cruel","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":280,"wires":[["72b99b4e.c5c424"]]},{"id":"7a9df0d2.ae04d","type":"debug","z":"4ed9f9ed.a1e8d8","name":"salida 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":300,"wires":[]},{"id":"877024fb.3fa258","type":"inject","z":"4ed9f9ed.a1e8d8","name":"","topic":"","payload":"Saludos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":340,"wires":[["72b99b4e.c5c424"]]},{"id":"226a44d8.19f5fc","type":"worldmap","z":"b8be0ac.f4ab9f8","name":"","x":630,"y":200,"wires":[]},{"id":"bb477325.923fd","type":"inject","z":"b8be0ac.f4ab9f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":200,"wires":[["8d6bf428.ffb2c8"]]},{"id":"8d6bf428.ffb2c8","type":"function","z":"b8be0ac.f4ab9f8","name":"Add person to map","func":"var thing = {\n    name:\"Jason Isaacs\", \n    lat:51, \n    lon:-1.45,\n    icon:\"car\",\n    iconColor:\"darkred\",\n    extrainfo:\"Hello to Jason Isaacs\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["226a44d8.19f5fc"]]},{"id":"1010a04d.68684","type":"comment","z":"b8be0ac.f4ab9f8","name":"Simple map - click inject to send point to map.","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":330,"y":140,"wires":[]}]